<div class="root-container">
  <h1 class="heading heading--main">Toy Robot</h1>
  <div class="robot-input-container">
    <app-robot-input (onRobotCommandsEntered)="onCommandsEntered($event)"></app-robot-input>
  </div>
  <app-robot-output [outputLines]="robotOutput | async"></app-robot-output>
</div>
