/* You can add global styles to this file, and also import other style files */
body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.button {
  display: block;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

