<form (submit)="submitCommands($event);">
  <textarea class="input textarea" rows="8" name="robotCommands" [(ngModel)]="robotCommands" placeholder="Enter robot commands here..."></textarea>
  <button class="input button button--block" type="submit">Run Commands</button>
</form>
